@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #333;
  color: white;
  font-family: "Space Grotesk", serif;
  margin: 0;
}

.navbar-custom {
  width: 100%;
  background: #333;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 82px;
}

.navbar-brand {
  width: 15%;
  /* Adjust logo size */
  margin-left: 10%;


}

.navbar-brand img {
  width: 100%;
  /* Adjust logo size */


}

.nav-link {
  color: #fff !important;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #00bcd4 !important;
  /* Optional hover effect */
}

.btn-custom {
  color: #fff;
  border: 1px solid #fff;
  margin-right: 10%;
}

.btn-custom:hover {
  background-color: #7df391;
}

/* General Body Styling */


/* Hero Section Styling */
.hero-section {
  background: url('../image/20fba5cf1e48adc294dd556e6ad88404.jpeg') no-repeat center center/cover;
  min-height: 90vh;
  position: relative;
}

.hero-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-section .container {
  z-index: 2;
  position: relative;
}

.hero-section h1 {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 78px;
  /* 121.875% */
  text-align: left;
  margin-top: 110px;
  margin-bottom: 58px;
  width: 80%;
}

.hero-section p {
  width: 75%;
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.8px;
  /* 124.286% */
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: left;
}

.hero-section .btn {
  font-size: 1.25rem;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.hero-section .btn:hover {
  color: aqua;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
    text-align: center;
  }

  .hero-section p {
    font-size: 1rem;
    text-align: center;
  }

  .sr {
    flex-direction: column;
    align-items: center;
  }
}


.about-us-section {
  background-color: #333;
  border-radius: 10px;
  padding: 40px 20px;
}

.hr {
  display: flex;
  justify-content: space-between;
}

.hr .section-title {

  font-size: 56px;
  font-weight: 600;
  display: block;
  margin-bottom: 50px;
}



.section-text {
  color: #FFF;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  /* 159.091% */
}

.highlight {

  background: rgb(73, 114, 114);
  font-weight: 600;
}

.btn-learn-more {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid #fff;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.btn-learn-more:hover {
  color: aqua;
}







/* Responsive Adjustments */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
    text-align: center;
  }

  .section-text {
    font-size: 1rem;
    text-align: center;
  }

  .btn-learn-more {

    margin: 0 auto;
    text-align: center;
  }
}




/****************** Services We Offer**************/
.text-left {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.service-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease-in-out;
}

.service-item .tittle-text {
  color: #7D7D82;
  font-family: "Space Grotesk";
  font-size: 63.75px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  /* 119.216% */
}


.service-item .tittle-text span {
  color: #05C2F4;
  font-family: "Space Grotesk";
  font-size: 23.625px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px;
  /* 132.063% */
  text-align: center;
  margin-bottom: 30px;
}



.service-item:hover {
  background-color: #333;
}

.service-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin: auto;
  font-size: 23.625px;

}

.service-item:hover+.service-content {
  max-height: 300px;
}

.service-img {
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.service-item:hover .service-img {
  transform: scale(1.1) rotate(-10deg);
  width: 220px;
  height: 150px;

}





.dvr {
  border-bottom: 2px solid gray;
  margin: 20px 0;
}


@media (min-width: 768px) {
  .service-item {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .service-content {
    text-align: left;
  }

}

@media (max-width: 768px) {
  .service-item .tittle-text {
    font-size: 32px;
  }

  .service-img {
    max-width: 30%;
    height: 90px;
  }

}














/* what we Offer */
.ht {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5%;

  margin-bottom: 75px;
}

.ht .hr2 {
  width: 60%;
}

.ht .titl {
  width: 35%;
  color: #FFF;
  font-family: "S60pace Grotesk";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 48.75px;
  /* 87.054% */

}


.service-card {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
}

.service-card h4 {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.92px;
  /* 92% */
  letter-spacing: -0.78px;
  margin-top: 30px;
}

.service-card p {
  color: rgba(255, 255, 255, 0.80);

  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card .icon {
  width: 55px;
  height: 55px;
  font-size: 40px;

}

.service-card .icon img {
  width: 100%;
  height: 100%;
  margin: 0px 0px 26px 10px;
}

.btn-custom2 {
  color: #FFF;
  display: inline-flex;
  padding: 5px 5px 5px 17px;
  justify-content: flex-end;
  align-items: center;
  gap: 11.09px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(0.5px);
  margin-top: 30px;
}

.btnls {
  display: inline-flex;
  padding: 19px 30px 19px 32px;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #FFF;
}

.btn-custom:hover {
  background-color: #666;
}
















.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  width: 50px;
  margin: 0 auto;
}

.projects-section {
  padding: 50px 0;
}

.project-card {
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-infol {
  position: absolute;
  bottom: 30%;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: left;
}

.project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  text-align: left;
}



.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding-bottom: 10px;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .scroll-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
  }
}


/* Testimonial Section */
.testimonial-section {
  background-color: #333;
  color: #ffffff;
}

.testimonial-section h2 {
  font-family: Space Grotesk;
  font-size: 56px;
  font-weight: 400;
  line-height: 48.75px;
  text-decoration-skip-ink: none;
  text-align: left;
  font-size: 56px;
  font-weight: bold;
}

.testimonial-section .divider {
  width: 50%;
  height: 2px;
  background-color: #f5f6f6;
  text-align: right;
}

.cd {
  max-width: 100%;
  min-height: auto;
}

blockquote {

  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.8;
  margin-top: 100px;
}

blockquote strong {
  color: #00aaff;
  /* Highlighted text in the quote */
}

.testimonial-section img {
  border: 3px solid #00aaff;
  /* Border around the client's image */
}

.dis {
  margin-left: 30px;
  text-align: left;
}

.testimonial-section small {
  color: #cccccc;
  font-size: 0.9rem;
}






/* Blog side  */

.blog-section {
  padding: 50px 0;
}

.blog-section .mb-4 {
  color: #FFF;

  font-family: "Space Grotesk";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  /* 114.286% */
  letter-spacing: -2.24px;
  margin-bottom: 80px;
}

.blog-section .btn {
  padding: 19px 45.01px 19px 45px;
  justify-content: center;
  align-items: flex-start;
  gap: 8.687px;
  color: #FFF;

  text-align: center;
  font-family: "Space Grotesk";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.blog-card {
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.blog-card:hover {
  transform: translateY(-10px);
}

.blog-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.blog-content {
  padding: 15px;
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
}

.author-info {
  font-size: 14px;
  color: #bbb;
}

.blog-carousel {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding-bottom: 10px;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.blog-carousel::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .blog-carousel {
    flex-direction: column;
    align-items: center;
  }

  .blog-card {
    width: 90%;
  }

  .blog-section .btn {
    padding: 0px 0.01px 0px 0px;
    margin: 48px 10px;
  }

  .hr .section-title {
    font-size: 40px;
    margin: 50px;
  }

  .blog-card img {
    margin-left: 40px;
  }

}

.portfolio-item {
  margin-bottom: 50px;
  position: relative;
}

.portfolio-item img {
  width: 95%;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio-item img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.portfolio-item h5 {
  margin-top: 10px;
}

.view-project {
  color: #FFF;
  text-decoration: none;
  border-bottom: 2px solid #FFF;
  font-weight: bold;
}

.view-project:hover {
  text-decoration: underline;
  color: #00bcd4;
}

.cn {
  margin-top: 30px;
}










.bg {
  background: linear-gradient(0deg, #0B3C49 0%, #333333 94%);
  z-index: -1;
}





/* Footer Section */
.footer-section {
  padding: 2rem 0;
  /* Padding for spacing */
}

.footer-section h5, .footer-section h6 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.footer-section ul {
  padding: 0;
  list-style-type: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
  /* Slight transparency for links */
  transition: opacity 0.3s;
}

.footer-section ul li a:hover {
  opacity: 1;
  /* Full visibility on hover */
}

.footer-section p, .footer-section hr {
  color: #cccccc;
  font-size: 0.9rem;
}

.footer-section hr {
  border-top: 1px solid #555;
  margin-top: 2rem;
}

.footer-section p.text-center {
  margin-top: 1rem;
}



.bdg {
  width: 100%;
  /* Use full width if required */
  height: 300px;
  /* Adjust the height as needed */
  background-color: #333;
  /* Ensure contrast with the text */
  position: relative;
  overflow: hidden;
  /* Hide parts of the text that overflow */


}

.bdg h1 {
  position: absolute;
  font-size: 300px;

  color: #fff;
  /* Text color for visibility */
  opacity: 0.3;
  /* Semi-transparent effect */
  letter-spacing: 9px;
  transform: translate(-50%, -50%);
  /* Center alignment */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  text-align: center;
  pointer-events: none;
  /* Ensure it doesn’t block clicks */
}



/* <!-- blog Slide Section   new start  --> */


.base-template__wrapper {
  max-width: 1560px;
}

.base-template__text {
  margin-bottom: 60px;
}

/**
 * Slider Instance
 */

.swiper {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.emotions-slider {
  --color-gray: #818181;
  --color-gray-dark: #1e1e1e;
  padding-inline: 40px;
  position: relative;
}

.emotions-slider__slide {
  display: flex;
  align-items: center;
  min-height: 550px;
}

@media screen and (max-width: 767.9px) {
  .emotions-slider {
    padding: 0;
    margin-inline: -20px;
  }
}

/**
 * Slider Navigation
 */

.slider-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  z-index: 1;
  pointer-events: none;
}

.slider-nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 48px;
  pointer-events: auto;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.slider-nav__item.disabled {
  cursor: default;
  opacity: 0.5;
}

.slider-nav__item path {
  stroke: currentColor;
}

@media (hover: hover) and (pointer: fine) {
  .slider-nav__item:not(.disabled):hover {
    color: var(--color-blue);
  }
}

@media (hover: none) {
  .slider-nav__item:not(.disabled):active {
    color: var(--color-blue);
  }
}

@media screen and (max-width: 767.9px) {
  .slider-nav {
    display: none;
  }
}

/**
 * Slider Pagination
 */

.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 40px;
}

.swiper-pagination-lock {
  display: none !important;
}

.slider-pagination__item {
  width: 8px;
  height: 8px;
  border-radius: 99px;
  background: #fff;
  transition: all 0.3s ease-out;
  opacity: 0.2;
}

.slider-pagination__item.active {
  width: 30px;
  opacity: 1;
}

/**
 * Slider Item
 */

.swiper-slide {
  width: auto;
  height: auto;
}

@keyframes btn-arrow-move {
  0% {
    translate: 0;
  }

  100% {
    translate: 100% -100%;
  }
}

.emotions-slider-item {
  --border-radius: 10px;

  width: calc(100dvw - 60px);
  max-width: 400px;
  background: var(--color-gray-dark);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
}

.emotions-slider-item__badge {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 10px 4px 5px;
  background: #00000066;
  border-bottom-right-radius: var(--border-radius);
  font-size: 14px;
  line-height: calc(24 / 14);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.emotions-slider-item__badge::before {
  content: "";
  flex-shrink: 0;
  display: block;
  aspect-ratio: 1;
  width: 18px;
  background: url("https://bato-web-agency.github.io/bato-shared/img/slider-1/icon-star.svg") center center no-repeat;
  background-size: 100%;
}

.emotions-slider-item__image {
  aspect-ratio: 400 / 270;
  overflow: hidden;
}

.emotions-slider-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.emotions-slider-item__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 20px;
}

.emotions-slider-item__header,
.emotions-slider-item__footer {
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.6s ease-in;
}

.emotions-slider-item__header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.emotions-slider-item__price {
  font-weight: 600;
  font-size: 22px;
  line-height: calc(24 / 22);
}

.emotions-slider-item__author {
  display: flex;
  align-items: center;
  gap: 4px;
}

.emotions-slider-item__author-image {
  flex-shrink: 0;
  aspect-ratio: 1;
  width: 20px;
  border-radius: 100%;
  overflow: hidden;
}

.emotions-slider-item__author-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.emotions-slider-item__author-name {
  font-family: var(--font-poppins);
  font-size: 14px;
  line-height: calc(20 / 14);
  color: var(--color-gray);
}

.emotions-slider-item__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.emotions-slider-item__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}

.emotions-slider-item__btn {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.emotions-slider-item__btn-icon {
  flex-shrink: 0;
  display: block;
  aspect-ratio: 1;
  width: 24px;
  position: relative;
  overflow: hidden;
}

.emotions-slider-item__btn-icon::before,
.emotions-slider-item__btn-icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("https://bato-web-agency.github.io/bato-shared/img/slider-1/icon-btn-arrow.svg") center center no-repeat;
  background-size: 100%;
}

.emotions-slider-item__btn-icon::after {
  position: absolute;
  top: 100%;
  right: 100%;
}

.emotions-slider__slide:not(.swiper-slide-active) .emotions-slider-item__header,
.emotions-slider__slide:not(.swiper-slide-active) .emotions-slider-item__footer {
  max-height: 0;
}

@media (hover: hover) and (pointer: fine) {

  .emotions-slider-item__btn:hover .emotions-slider-item__btn-icon::before,
  .emotions-slider-item__btn:hover .emotions-slider-item__btn-icon::after {
    animation: btn-arrow-move 0.4s ease forwards;
  }
}

@media (hover: none) {

  .emotions-slider-item__btn:active .emotions-slider-item__btn-icon::before,
  .emotions-slider-item__btn:active .emotions-slider-item__btn-icon::after {
    animation: btn-arrow-move 0.4s ease forwards;
  }
}