.hero-section {
    background: url('../image/service\ page\ hero\ image.jpg') no-repeat center center/cover;
    padding: 100px 20px;
    text-align: left;
    position: relative;
}

.hero-content {
    max-width: 1100px;
    padding: 8%;
    border-radius: 10px;
}

.hero-content h1 {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-content p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-top: 30px;
}

.hero-btn {
    background-color: #05C2F4;
    color: white;
    height: 52px;
    max-width: 900px;
    padding: 12px 24px;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}

.hero-btn:hover {
    background-color: #0391B5;
}




/* -------Service Section :start ---- */

.service-section {
    padding: 50px 0;
}

.service-box {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service-box h3 {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 62.4px;
    /* 111.429% */
    text-transform: capitalize;
}

.service-box p {
    width: 100% !important;
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.service-box ul li {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 16.734px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    list-style: none;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: capitalize;
}

.service-box ul li::before {
    content: "- ";

}

.img {
    width: 45%;
}

.img img {
    width: 100%;
}

.highlight-box {
    background: #e44d26;
    color: white;
    padding: 10px;
    display: inline-block;
    font-weight: bold;
}



.srbox {
    margin-bottom: 50px;
}

/* Make images rounder and better aligned */
.srbox img {}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .srbox {
        flex-direction: column;
        text-align: center;
    }


    .srbox img {
        margin-top: 20px;
    }

    .service-box {
        width: 100%;
    }
}

/* - why busnesses Choose Trimindise  start  -- */
.busness {
    background: url('../image/Choose\ Background.jpg') no-repeat center center/cover;

}

.container {
    padding: 50px 15px;
}

.container h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.6px;
}

.card {
    background-color: transparent;
    border: none;
    padding: 20px;
    border-radius: 8px;
}

.card-title {
    color: #05C2F4;
    font-family: "Space Grotesk";
    font-size: 22.688px;
    font-style: normal;
    font-weight: 700;
    line-height: 31.2px;
    /* 137.521% */
    margin-bottom: 30px;
}

.card p {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 18.125px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;/
}

/* - why busnesses Choose Trimindise  End  -- */

/* Need Customised Plan or Have Any Inquiry? */
.container {
    color: white;
}

.contact-section {
    background-color: #4E4E4E;
    padding: 10px;
}

.contact-info {
    background: #333333;
    padding: 40px;
    border-radius: 10px;
}

.contact-info-link {
    margin-top: 150px;
}

.contact-input {
    padding: 40px;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    color: white;
    margin-bottom: 20px;
}

.form-control::placeholder {
    color: #bbb;
}

.form-check-label {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.input-btn {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0;
    margin-top: 30px;
    float: right;
}


/* Need Customised Plan or Have Any Inquiry? */

/* Have Questions? Start */


.faq-section {
    max-width: 800px;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
}

.faq-section h1 {
    color: #FFF;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 62.4px;
    /* 111.429% */
    margin-bottom: 60px;
}

.faq-section h2 {
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 23.063px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 138.753% */
}

.accordion-item {
    background: #333;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

.accordion-button {
    background-color: #333;
    color: white;
    border: none;
    box-shadow: none;
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-body {
    background: #333;
    color: #ddd;
}

.faq-section {
    background-color: #333 !important;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    background-color: #333 !important;
    color: #fff !important;
    box-shadow: 0 0 0 .25rem #333 !important;
}

.accordion-body {
    background-color: #333 !important;
    color: #ffffff !important;
}





/* Have Questions? Start */